.container {
    margin: 8px 0;
    /* border-bottom: 1px solid #ddd; */
}

.todoRow {
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
}

.newTodo {
    width: 100%;
    display: flex;
    justify-content: center;
}