.layout {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    box-sizing: border-box;
}
.layout > main {
    width: 100%;
}
.layout > main > header {
    border: 1px solid #ddd;
    padding-left: 20px;
    text-align: center;
}
.layout > main > .page {
    padding: 12px;
}